:root {
  --box_height: 25px;
  --box_width: 25px;
  --box_padding: 20px;
}

body {
  background: #20262E;
  padding: 20px;
  font-weight: bold;
  font-family: Helvetica;
}

#app {
  background: #fff;
  margin: auto;
  width: 85%;
  border-radius: 4px;
  padding: 20px;
}

.smile {
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  margin-top: -99px;
}
.active_player{
  background: lightgreen;
}
.angry {
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}


h1{
  font-weight: bold;
  font-size: 20px;
}
input[type="text"] {
  background: transparent;
  border: none;
  font-weight: bold;
  width: 10px;
}

.guess_input{
  width:20px !important;
  height:20px;
}

.go_button{
  background-color: light grey;
  width: 60px;
  height: 45px;
  margin-bottom: -20px;
}

.first_in_row{
  border-left-color: coral !important;
  margin-left: 25px;
}

.zero {
  width: var(--box_width);
  height : var(--box_height);
  padding: var(--box_padding);
  background-color: #9e9e9e;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.one {
  width: var(--box_width);
  height : var(--box_height);
  padding: var(--box_padding);
  background-color: #9ABFFF;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.two {
  width: var(--box_width);
  height : var(--box_height);
  padding: var(--box_padding);
  background-color: #EEFFAE;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.three {
  width: var(--box_width);
  height : var(--box_height);
  padding: var(--box_padding);
  background-color: #FFB09A;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.four {
  width: var(--box_width);
  height : var(--box_height);
  padding: var(--box_padding);
  background-color: #FF99F6;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}


.left_wall{
  margin-left: -3px;
  border-left : 3px solid black !important;
}

.right_wall{
  margin-right: -3px;
  border-right : 3px solid black !important;
}

.top_wall{
  margin-top: -3px;
  border-top :  3px solid black !important;
}

.bottom_wall{
  margin-bottom: -3px;
  border-bottom : 3px solid black !important;
}

.box {
  margin-bottom: -3px;
  margin-top: -3px;
  margin-right: -3px;
  margin-left: -3px;
  border-left : 3px solid inherit;
  border-right : 3px solid inherit;
  border-top :  3px solid inherit;
  border-bottom : 3px solid inherit;
}

.table_spacer{
  width: var(--box_width);
  height : var(--box_height);
}

.table_container{
  margin-left:auto;
  margin-right:auto;
}

table{
  width: width/2;
  height : auto;
}

th{
  padding-right: 5px;
}
